@use "../variables";

.header {
  height: variables.$height-header;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: variables.$background-dark;
  z-index: 30;
  display: flex;
  justify-content: center;

  & > .container {
    width: variables.$width-content;
    box-sizing: border-box;
    display: flex;
    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }
    & > .left,
    & > .right {
      flex-grow: 1;
    }
    & > .left {
      justify-content: flex-start;
      & * {
        fill: #fff;
      }
    }
    & > .right {
      gap: 8px;
      justify-content: flex-end;
    }
  }
}

@include variables.media-xs {
  .container {
    padding: 0 variables.$padding-aside-header-container;
  }
}

@include variables.media-sm {
  .container {
    padding: 0 variables.$padding-aside-header-container;
  }
}

@include variables.media-md {
  .container {
    padding: 0 variables.$padding-aside-header-container;
  }
}

@include variables.media-lg {
  .container {
    padding: 0 variables.$padding-aside-header-container;
  }
}

@include variables.media-xl {
}
